@page
@model IndexModel

<div class="text-center">

    <h5 class="display-5 text-primary medium"><b> Personal <span class="text-danger">Tax</span> Calculator </b></h5>
    <h6 class="display-6 text-muted small"><b><span class="text-success">PAY</span>SPACE</b><a href="https://www.payspace.com/" target="_blank"> Check us online</a></h6>
    <hr />
    <br />

    <form id="CalculationForm" class="form-row" method="post" autocomplete="off">
        <div id="container">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="price-box">
                <div class="row">
                    <div class="">
                        <h4 class="great">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Region</h4>
                        <span> &nbsp;&nbsp;&nbsp;&nbsp; Code</span>
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-lg">
                                <input type="text" class="form-control" asp-for="calculationModel.PostalCode" aria-label="">
                                <span asp-validation-for="calculationModel.PostalCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <h4 class="great"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Income</h4>
                        <span>&nbsp; &nbsp;Anual </span>
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-lg">
                                <input type="text" class="form-control" asp-for="calculationModel.Income" aria-label="Amount (to the nearest dollar)">
                                <span asp-validation-for="calculationModel.Income" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <h4 class="great">Compute </h4>
                        <span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-lg">
                                <button type="submit" class="btn btn-primary btn-lg btn-block term active-term selected-term" id='quarterly'>Calculate</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}