@page
@model TaxCalculator.Pages.Tax.NotifyModel


@if (@Model.successful)
{
    <div class="alert alert-success text-cente" role="alert">
        <h4 class="alert-heading">Success</h4>
        <p>@Model.msg</p>
        <hr>
        <p class="mb-0">Transaction completed successfully.</p>
    </div>
}

@if (@Model.successful == false)
{
    <div class="alert alert-danger text-cente" role="alert">
        <h4 class="alert-heading">Validation Failure</h4>
        <p>@Model.msg</p>
        <hr>
        <p class="mb-0">Error trying to complete transaction.</p>
    </div>
}

<div class="col-12 text-center">
    <form id="notfy" class="form-row" method="post" autocomplete="off">
        <input type="submit" value="Ok" class="btn btn-success form-control" />
    </form>
</div>